# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.html            text diff=html
*.js              text
*.sh              text eol=lf

# Documentation
*.md                text
LICENSE             text

# Configs
.gitattributes    text
.gitconfig        text
*.lock            text -diff
package-lock.json text -diff

# Ignore files
*.*ignore         text
