@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 111 33% 99%;
    --foreground: 111 57% 0%;
    --card: 111 33% 98%;
    --card-foreground: 0 0% 0%;
    --popover: 111 33% 99%;
    --popover-foreground: 111 57% 0%;
    --primary: 111 79% 45%;
    --primary-foreground: 111 79% 5%;
    --secondary: 111 13% 83%;
    --secondary-foreground: 111 13% 23%;
    --accent: 111 13% 83%;
    --accent-foreground: 111 13% 23%;
    --destructive: 17 98% 34%;
    --destructive-foreground: 0 0% 100%;
    --muted: 111 10% 94%;
    --muted-foreground: 111 11% 37%;
    --border: 111 5% 90%;
    --input: 111 5% 90%;
    --ring: 111 79% 45%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 111 42% 2%;
    --foreground: 111 38% 100%;
    --card: 111 42% 3%;
    --card-foreground: 0 0% 100%;
    --popover: 111 42% 2%;
    --popover-foreground: 111 38% 100%;
    --primary: 111 79% 45%;
    --primary-foreground: 111 79% 5%;
    --secondary: 111 6% 15%;
    --secondary-foreground: 111 6% 75%;
    --accent: 111 6% 15%;
    --accent-foreground: 111 6% 75%;
    --destructive: 17 98% 48%;
    --destructive-foreground: 0 0% 100%;
    --muted: 111 10% 6%;
    --muted-foreground: 111 11% 63%;
    --border: 111 5% 15%;
    --input: 111 5% 15%;
    --ring: 111 79% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
